namespace: random-app-2

replicaCount: 3

image:
  repository: testkevinacr.azurecr.io/random-sentence-app
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

readinessProbe:
  path: /health
  port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3

livenessProbe:
  path: /health
  port: 8080
  initialDelaySeconds: 15
  periodSeconds: 20
  failureThreshold: 3
